  <div class="content" role="main">
    <h1>My Projects</h1>
    <div class="AllProjects">
      <a class="card" [routerLink]="'/covidapp'">
        <p>CovidApp</p>
      </a>
      <a class="card" [routerLink]="'/thiswebapp'">
        <span>This Website</span>
      </a>
      
      <a class="card" [routerLink]="'/fireworks'">
        <span>Firework-Simulation</span>
      </a>
      <a class="card">
        <span>Python-Web-App: In Prog</span>
      </a>
  
    </div>
  </div>
  
  <div class="resume">
    <div class="TopResumeContainer">
      <h1 style="padding-left: 39%;">Resume</h1>
        <div class="PepeContainer" style="padding-left: 40px;">
        
          <button (click)="jammerTime()">Time to Jam (Headphone warning)</button>
  
          
          <ng-container *ngIf="showPepeStand">
            <img src="{{srcPepeStand}}" width="250" height="250"/>
  
            <audio src="./assets/One More Time.mp3" id="song"></audio>
  
          </ng-container>
  
          <ng-container *ngIf="showPepeDance">
            <img [src]= srcPepeDance>
          </ng-container>
  
        </div>  
    </div>
  
    <div class="experiencePart">
      <h2 style="font-size: 200%;">
        Experience
        <div class="innerExperience" style="font-size: 75%;">
          <p style="padding-left: 25px;">Company: Groupon</p>
          <p style="padding-inline-start: 50px;">Title: Software Engineer (07/19 - current)</p>
          <ul style="padding-inline-start: 75px;">
            <li>Created a new 2.0 version of an existing web application for Groupon partners to integrate seamlessly with the platform.</li>
            <li>Created web component to track and display partner’s product uptimes compared to other partners within the same industry.</li>
            <li>Decreased response times by 96%, going from 50 seconds to just under 2 seconds to load an endpoint for partner integrations.</li>
            <li>Lead Agile practice meetings and assisted team mates with their tasks every tuesday thursday increasing sprint velocity.</li>
          </ul>
        </div>
      </h2>
    </div>
    <div class="educationPart">
      <h2 style="font-size: 200%;">
        Education
        <p style="padding-left: 25px; font-size: 75%;">University of Illinois at Chicago</p>
      <p style="padding-left: 50px; font-size: 75%;" > -Bachelor's In Computer Science</p>
      <p style="padding-left: 50px; font-size: 75%;" >- GPA: 3.2/4</p>
      <p style="padding-left: 50px; font-size: 75%;"> - Course's Taken: Data Structures, Software Design, Program Design 1,2 , Programming Practicum, Machine Organization,
         Algorithms, Programming Language Concepts, Database Systems, Android Development, Software Engineering.</p>
      </h2>
    </div>
    <div class="skillsPart">
      <h2 style="font-size: 200%;">Skills</h2>
      <ul>
        <li style="font-size: 175%; color: red;">Proficient: Java, Javascript</li>
        <li style="font-size: 175%; color: green;">Intermediate: ReactJS, AngularJS</li>
      </ul>
    </div>
  </div>