  // .content {
  //   display: flex;
  //   margin: 82px auto 32px;
  //   padding: 0 16px;
  //   max-width: 1000px;
  //   flex-direction: column;
  //   align-items: center;
  // }
  .TopResumeContainer{
    display: flex;
    flex-direction: row;
    align-self: center;
  }
  .PepeContainer{
    display: flex;
    flex-direction: column;
  }
  .AllProjects{
    display: flex;
    flex-direction: row wrap;
  }

  .resume{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .innerResume{
    display: flex;
    flex-direction: row wrap;
    align-items: center;
    //margin: 14px auto 16px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }
  .card:hover{
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    cursor: pointer;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }


  @import "../app.component.scss";
  @include auth;
