<div class="content">
    <h1>Objective</h1>
    <span style="font-size: 200%;">To create my own personal website to get web development experience/full stack, and something easy for employers to navigate around instead of boring resume</span>
    <h1>How it works</h1>
    <span style="font-size: 200%;">The framework I used for this website is <b>AngularJS</b></span>

    <span style="font-size: 200%;">AngularJS is a javascript framework that uses components and all components run off of the main AppComponent each component generate html in another component or 
        host its own webpage, just like this one! 
    </span>

    <h1>Functionality</h1>

    <span style="font-size: 200%;">Given how youve already got here, you know that clicking on one of the cards under 'My Projects' takes you to the page I made for that project
        You can either click the back arrow to goto the homepage or you can click the 'Welcome' in the top left corner.
        The github logo in the top right hosts my projects with the source code and will open my repos under a new tab. 
    </span>
    <span style="font-size: 200%;">Also if you press the <b>Jam Button</b> above Pepe the Frog he will start dancing to Daft Punk - One More Time</span>
    
</div>
