<div class="content">
    <h1>Objective</h1>
    <span style="font-size: 200%;">The objective of this app was to give current information about Covid-19 in the specified state</span>
    <h1>How it Works</h1>
    <div class="androidApp" style="margin: 10px;">
        <span style="width: 300px; word-wrap: break-word; flex-wrap: wrap; align-self: center;">We start with selecting which state we are from or the state we want to know about</span>
        <img src="/../assets/imagesForWebsite/chooseStateOnPhone.png" alt="" height="528" width="324">
    </div>
    <div class="androidApp">
        <span style="width: 300px; word-wrap: break-word; flex-wrap: wrap; align-self: center;">
            Then as a preprocess it makes an API call to CovidAPI tracking project, then after sifting through the data it is save in a hashmap
            and we look up the data for that specfic state input</span>
        <img src="/../assets/imagesForWebsite/stateInformation.png" alt="" height="528" width="324">
    </div>
</div>

