<div class="content">
    <h1>Objective</h1>
    <span style="font-size: 200%;">Create a firework simulation using only code</span>
    <h1>How it works</h1>
    <span style="font-size: 200%;"> I created a class called 'Particle' which is a circle that starts at the bottom of the screen.
    Then the program will keep displaying the circle changing its y coordinate making it look like its flying up. Once it reaches a randomly set height
    it bursts into a bunch of other randomly colored circles.
    </span>
    <h1>Final Product</h1>
    <img src="../../assets/imagesForWebsite/fireworkSim.gif" alt=""> 
</div>
